{###################}
{# GLOBAL VISITORS #}
{###################}
<div style="text-align: center;">
	<h1 class="dash_visitor">
		{{ nb_unique_visitor|length }} {% if nb_unique_visitor|length > 1 %}visiteurs uniques{% else %}visiteur unique{% endif %}<br />
		<i>Entre le {{ d1|date('d/m/Y') }} et le {{ d2|date('d/m/Y') }}</i>
	</h1>
</div>
<div class="liseret"></div>


{###########################}
{# EVOLUTION JOUR PAR JOUR #}
{###########################}
<div class="titre_container">
	<h1>Evolution du nombre de visiteurs uniques</h1>
	<h2>Entre le {{ d1|date('d/m/Y') }} et le {{ d2|date('d/m/Y') }}</h2>
</div>
<div class="box_container">
	{% render 'MelodyRoadAnalyticsBundle:Analytics:globalGraphique' with { 'd1': d1|date('Y-m-d'), 'd2': d2|date('Y-m-d') } %}
</div>
<div class="ecart"></div>


{#############################################}
{# BOX SMARTPHONES / TABLETTES / ORDINATEURS #}
{#############################################}
<div class="divisibly3">
	<div class="titre_container">
		<h1>Le matériel utilisé</h1>
		<h2>Entre le {{ d1|date('d/m/Y') }} et le {{ d2|date('d/m/Y') }}</h2>
	</div>
	<div class="box_container">
		{% set arr = [['Smartphones', nb_unique_mobile_visitor|length], ['Tablettes', nb_unique_tablet_visitor|length], ['Ordinateurs', nb_unique_computer_visitor|length]] %}
		<div class="makePie" style="width: 90%; height: 200px; margin: auto;"><span>{{ arr|json_encode }}</span></div>
	</div>
</div>


{###################}
{# BOX NAVIGATEURS #}
{###################}
<div class="divisibly3">
	<div class="titre_container">
		<h1>Le naviguateur utilisé</h1>
		<h2>Entre le {{ d1|date('d/m/Y') }} et le {{ d2|date('d/m/Y') }}</h2>
	</div>
	<div class="box_container">
		{% set arr = [] %}
		{% for broswer in visitor_per_broswers %}
			{% set arr = arr|merge([ [broswer.browser, broswer.1|int] ]) %}
		{% endfor %}
		<div class="makePie" style="width: 90%; height: 200px; margin: auto;"><span>{{ arr|json_encode }}</span></div>
	</div>
</div>


{##############################}
{# BOX SYSTEME D'EXPLOITATION #}
{##############################}
<div class="divisibly3">
	<div class="titre_container">
		<h1>L'OS utilisé</h1>
		<h2>Entre le {{ d1|date('d/m/Y') }} et le {{ d2|date('d/m/Y') }}</h2>
	</div>
	<div class="box_container">
		{% set arr = [] %}
		{% for os in visitor_per_os %}
			{% set arr = arr|merge([ [os.os, os.1|int] ]) %}
		{% endfor %}
		<div class="makePie" style="width: 90%; height: 200px; margin: auto;"><span>{{ arr|json_encode }}</span></div>
	</div>
</div>
<br class="clear" />
<div class="ecart"></div>


{##########################}
{# VISITEURS SINCE A YEAR #}
{##########################}
<div class="titre_container">
	<h1>Visiteurs uniques mois pas mois</h1>
	<h2>Depuis un ans</h2>
</div>
<div class="box_container">
	{% render 'MelodyRoadAnalyticsBundle:Analytics:globalGraphiqueSinceOneYear' with { 'month': "now"|date('m'), 'year': "now"|date('Y') } %}
</div>
<div class="ecart"></div>

<script type="text/javascript" src="{{ asset('bundles/melodyroadanalytics/js/pieLoader.js') }}"></script>