<br />
<b>Du {{ date1|date('m/Y') }} au {{ date2|date('m/Y') }}</b><br />
Nombre total de visiteurs pour l'interval : <b>{{ totalVisitor }}</b>
<br />

<div class="makeBar" id="chartBetweenDates" style="width: 1000px; height: 300px;">
	<span>{{ arrBarJson }}</span>
</div>

<script type="text/javascript" src="{{ asset('bundles/melodyroadanalytics/js/barLoader.js') }}"></script>